.jumbotron{
    background-image: url("https://dl1.cbsistatic.com/i/r/2018/08/09/b6ca69f8-f123-408c-9b1f-ea3f9cf1fb17/resize/620xauto/8787947d1d00135d3f2ed512e56bee72/concert-crowd.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    border:5px solid gold;

}
.container {
    position: relative;
    text-align: center;
    color: black;
  
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aqua;
  }
  

